#root {
  max-width: 1280px;
  margin: 0 auto;
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE/Edge */
}

body::-webkit-scrollbar,
div::-webkit-scrollbar,
section::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari, Opera */
  width: 0 !important;
  height: 0 !important;
}

/* Tambahan utility buat jaga-jaga */
@utility no-scrollbar {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
  &::-webkit-scrollbar {
    display: none !important;
  }
}
